.posts-list {
    background: greenyellow;
}

.post {
    background: yellow;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    width: 20em;
    height: 20em;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    position: relative;
}

.post > img {
    height: 10em;
    width: 10em;
}