{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% if post.requires_permission %}
    <script>
        var password = prompt("Please enter the password to view this post", "");
        if (password != {{  post.password   }}) { // TODO This is not secure
            alert("Incorrect password");
            window.location.replace("{% url 'posts' %}");
        }
    </script>
    {% endif %}
    <br/>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col">
            <h1>{{ post.title }}</h1>
            <small>Posted by: {{ post.author }}</small>
            <p>Likes: {{ post.likes.count }}</p>
            <p>{{ post.publication_date }}</p>
        </div>
        <div class="col">
            {% if post.header_image %}
                <img src="{{ post.header_image.url }}" class="img-fluid rounded float-end" alt="..." width="50%" height="50%">
            {% else %}
                {% load static %}
                <img src="{% static 'blog/placeholder.webp' %}" class="img-fluid rounded float-end" alt="header image" width="50%" height="50%">
            {% endif %}
        </div>
      </div>
    </div>
    <hr>
    <br/>
    <p>{{ post.body|safe }}</p>
    <br/>
    <a class="btn btn-secondary" href="{% url 'posts' %}">Back</a>
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}

    <br/>
    <hr>
    <br/>

    {% comment %} Comments {% endcomment %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Add Comment</button>
        </form>
    {% endif %}

    <br/>

    {% for comment in post.comments.all %}
        <hr>
        <div class="d-flex flex-row">
            <div>
                <h3>{{ comment.author }}</h3>
                <p><i class="bi bi-calendar"></i> {{ comment.publication_date }}</p>
                {% if comment.author == user %}
                    <a class="btn btn-outline-primary" href="{% url 'update_comment' comment.pk %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_comment' comment.pk %}">Delete</a>
                {% endif %}
            </div>
            <div class="vr mx-4"></div>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}
{% endblock content %}
